nav {
    background-color: green;
    text-align: right;
    padding: 10px;
}

.landpage {
}

form {
    margin-top: 100px;
}

.titleform{
    font-size: 1.5rem;
    display: block;
    margin-bottom: 10px;

}

form input {
    display: block;
    margin-bottom: 10px;
}

.welcome {
    display: inline;
    margin-right: 5px;
    border-right: 2px solid black;
    padding: 10px
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#formUser {
    display: none;
}

#formAdmin {
    display: none;
}


#alertMessage {
    width: 90%;
    height: 90vh;
    z-index: 2;
    background-color: rgba(101, 215, 101,0.8);
    position: absolute;
    text-align: center;
    padding: 10px;
}
#almessage {
    position: relative;
    background: green;
    align-items: center;
    border: 2px solid gray;
    top: 50%
 

}

.cancel {
    color: rgb(242, 230, 230);
    font-size: 16px;
}

/*accounpage section*/
.accountPage {
    /* display: none; */

}
.account{
    width: 350px;
    height: 250px;

}

/* table*/
table {
    width: 90%;
    /* border: 10px green solid; */

}

th {
    font-size: 1.6rem;
    border-bottom: 10px green solid;
    text-align: center;
    font-weight: bolder;
}

td{
    font-size: 1rem;
    text-align: left;
    padding: 5px;
    border: 9px green solid;
}

tr:nth-child(even){
    background-color: plum
}
tr:nth-child(odd){
    background-color: rgb(244, 222, 244)
}

.edit {
    background-color: aquamarine;
    display: inline;
}
